
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #00b31d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    z-index: 1000;
    position: fixed;
    width:100%;
}
// MY STYLES
html,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing:border-box;
}

.main_sidebar {
    min-height:100%;
    position:fixed;
    top:0;
    left:0;
    width:20vw;
    padding-top:15vh;
    transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
    will-change: left, width;
    box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.4);
    background: #FF7400;
    z-index: 500;
}
.main_sidebar:after {
    content: '';
    background-color: #253238;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 58px;
}
.main_sidebar ul {
    list-style:none;
    padding-left:58px;
}
.main_sidebar ul li {
    padding:10px;
}
.main_sidebar ul li a {
    color:#fff;
    display:block;
}
.main_sidebar ul li i {
    float:left;
    color:grey;
    margin-left:-58px;
    font-size:24px;
    padding-left:7px;

}
.main_sidebar ul li:hover {
    background:#33CCCC;
}
.main_sidebar ul li a:hover {
    color:#fff;
    text-decoration:none;
}
.main_sidebar ul li:hover i {
    color:#fff;
}
.main_sidebar ul li.active {
    background:#009999;
}
.main_sidebar ul li.active i {
    color:#fff;
}
.main_sidebar ul li.active:hover {
    background:#167696;
}
.main_sidebar ul li.active:hover i {
    color:#fff;
}

main {
    padding: 4rem 1vw 0 21vw;
    color:#333;
    background: #fff;
    min-height:100vh;
    width: 100%;
    .tips{
        background-color: #FFB273;
        border-radius: 7px;
        margin-bottom: 15px;
    }
    table.expenses-list td, table.expenses-list th{
        text-align: center;
    }
    .add-expense-button{
        position: fixed;
        bottom:5vh;
        left: 50%;
    }
    .modal-title{
        background-color: #FFB273;
        text-align: center;
        width: 100%;
        border-radius:2px;
    }

    /* HIDE RADIO */
    .modal-radio {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* IMAGE STYLES */
    .modal-radio + i, .modal-radio + img {
        cursor: pointer;
        font-size:3em;
        color: navy;
        border-radius: 4px;
        width: 100%;
        padding:3px;
    }
    .modal-radio + i{
        background-color: #67E667;
    }

    /* CHECKED STYLES */
    .modal-radio:checked + i, .modal-radio:checked + img{
        box-shadow: 0 0 3pt 2pt #FF7400;
    }
}

