<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <bar-chart :chart-data="data" :options="options" :height="150" ></bar-chart>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col-3">Category name</th>
                        <th scope="col-3">Total sum</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="statistic in statistics">
                        <td>{{ statistic.name}}</td>
                        <td>{{ statistic.sum}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import BarChart from './BarChart';
    import axios from 'axios'

    export default {
        components: {
            BarChart
        },

        props:['user'],

        data(){
            return{
                data:{},
                statistics:[],
                options: {
                    scales: {
                        yAxes: [{ticks: { beginAtZero: true } }]
                    },
                    legend: {
                        display: false,
                    },
                }
            }
        },

        mounted(){
            this.update();
        },
        created(){

        },

        methods:{
            update: function () {
                axios.get('/api/v2/statistic/'+this.user).then((response)=>{
                    this.data = response.data;
                }).then(()=>{
                    this.statupdate();
                })


            },
            statupdate: function () {
                let qty = this.data.labels.length;
                for(let i=0; i<qty; i++){

                    this.statistics.push({
                        name: this.data.labels[i],
                        sum: this.data.datasets[0].data[i],
                    })
                    console.log( this.data.labels[i] );
                }

                // for (i, label) in this.data.labels{
                // console.log( this.statistics[3].name)
            }
        },


    }

</script>

<style scoped>
tr{
    text-align: center;
}
</style>
